<!doctype html>
<html>
<head>
    <title>Legally Buff</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/9758b9c0d3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1>Legally Buff</h1>
        <img src="https://img.freepik.com/premium-vector/fitness-center-logo-sport-fitness-logo-design-gym-logo-icon-design-vector-stock_279597-366.jpg?w=2000" alt="gym Photo">

        <p>Login or Signup:</p>

        <a href="/login" class="btn btn-default"><span class="fa-solid fa-user-tie"></span> Pump Iron</a>
        <a href="/signup" class="btn btn-default"><span class="fa-solid fa-user-tie"></span> Get Swole</a>

    </div>

</div>
</body>
</html>
