<!doctype html>
<html>
<head>
    <title>Gym login</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/9758b9c0d3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">
<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa-solid fa-circle-user"></span> Login</h1>

    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <!-- LOGIN FORM -->
    <form action="/login" method="post">
        <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" name="email" placeholder="user">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password" placeholder="password">
        </div>

        <button type="submit" class="btn btn-warning btn-lg">Enter</button>
    </form>

    <hr>

    <p>Need a membership? <a href="/signup">Signup</a></p>
    <p>Need to go back? <a href="/">Home</a></p>


</div>
</div>
</body>
</html>
